<div class="main-container">
    <div class="titulo-producto">
    </div>
    <div class="tabla">
        <div class="titulos">
            <h1>LINKS</h1>
            <ul class="links">
                <li>
                    <form class="btn-ptr" action="/chat">
                        <input type="submit" value="CHAT">
                    </form>
                </li>
                <li>
                    <form class="btn-ptr" action="/products">
                        <input type="submit" value="PRODUCTOS">
                    </form>
                </li>
                <li>
                    <form class="btn-ptr" action="/multer">
                        <input type="submit" value="MULTER">
                    </form>
                </li>
            </ul>
        </div>


    </div>
</div>